.main-nav
     @include laptop
        display: flex
        align-items: center
        height: 100%

.main-menu
    @include reset-list
    width: 100%

    @include laptop
        box-shadow: none

    &__item
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        border-bottom: 1px solid $dark-color
        text-transform: uppercase

        @include laptop
            border-bottom: none

        a
            display: block
            width: 100%
            padding: 1rem
            text-align: center
        
        a:link
            color: $text-color
            text-decoration: none

        a:visited
            color: $text-color
    
        a.active
            color: $primary-color   
