.sidebar
    position: fixed
    background-color: $background-color
    width: 100%
    height: 100vh
    transform: translateY(-100%)
    transition: transform 500ms ease-in-out

    &.show
        transform: translateY(0)

    @include laptop
        // position: static
        width: 15%
        margin-top: 0
        grid-row: 1 / -1
        grid-column: 1 / 2
        background-color: $dark-color-2
        box-shadow: 2px 0 10px $dark-color
        transform: translateY(0)